@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-color: #3ca2c3;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Tilt Warp', cursive;
}

h2 {
    font-size: 2.8rem;
    font-family: 'Tilt Warp', cursive;
}

.input {
    background-color: #fff;
    margin: 3rem;
    padding: 2rem;
    color: gray;
    text-align: left;
    font-size: 2rem;
    
}

.inputButton {
    font-size: 1.5rem;
    background-color: #3ca2c3;
    color: white;
    font-family: 'Tilt Warp', cursive;
    border-radius: 2rem;
    border-color: #fff;
    border-width: 1rem;
}

input {
    padding: 1rem;
    border-color: #fff;
    border-radius: 2rem;
}

.inputButton {
    margin: 1.5rem;
}